

<div class="profile-container">
  <div class="profile-card">
    <h2 class="profile-title">My Profile</h2>
    <h3>{{ customer?.name }}</h3>
    <p><strong>Email:</strong> {{ customer?.email }}</p>
    <p><strong>City:</strong> {{ customer?.city }}</p>
    <p><strong>Address:</strong> {{ customer?.address }}</p>

    <span class="my-orders"> <span class="my-orders-num"> X</span> Orders </span>
    <br>
    <hr>
    <table class="table table-bordered">
        <tr *ngFor="let key of getCustomerKeys(customer)">
          <td ><strong>{{ key | titlecase }}</strong></td>
          <td>{{ customer[key] || 'N/A' }}</td>
        </tr>
      </table>
    <div class="profile-actions">
      <button class="btn edit-btn" routerLink="/profile/edit">Edit Profile</button>
       
    </div>
  </div>
</div>