<div class="catalog">
    <h2>Product Catalog</h2>
    <div class="product-grid">
      <div *ngFor="let product of filteredProducts |  slice:0:displayCount" class="product-card">
        <a [routerLink]="['/products', product.id]">
         <img [src]="product.images[0]" alt="{{ product.name }}">
        </a>
        <h3>{{ product.name }}</h3>
        <p class="price"><span>₹</span>{{ product.price }}</p>
        <button class="add-to-cart" (click)="addToCart(product)">Add to Cart</button>
      </div>
      <!-- Show "Load More" Button Only If There Are More Orders -->
    

    </div>
    <button *ngIf="displayCount < filteredProducts.length" (click)="loadMore()" class="btn btn-primary">
        Load More
    </button>

    
    <p *ngIf="filteredProducts.length === 0">No products found.</p>
  </div>
  